{
  "singleQuote": true,
  "trailingComma": "all",

  "plugins": ["@trivago/prettier-plugin-sort-imports"],

  "importOrder": ["<THIRD_PARTY_MODULES>", "^@root/(.*)$", "^@test/(.*)$"],

  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
